apiVersion: v1
kind: Service
metadata:
  name: otel-collector
  labels:
    app: opentelemetry-collector
spec:
  type: ClusterIP
  ports:
  - name: otlp-grpc
    port: 4317
    targetPort: 4317
    protocol: TCP
  - name: otlp-http
    port: 4318
    targetPort: 4318
    protocol: TCP
  selector:
    app: opentelemetry-collector
